:root {
--color00: #000000;
--color01: #000000;
--color02: #1e1e2a;
--color03: #4a4a5a;
--color04: #4ad9e0;
--color05: #e8e8f0;
--color06: #4ad9e0;
--color07: #e8e8f0;
--color08: #2a2a3a;
--color09: #39ff88;
--color0A: #ffe58f;
--color0B: #ff3860;
--color0C: #6c7fe0;
--color0D: #E43995;
--color0E: #ff5fb0;
--color0F: #ff6b8f;
}
